.mat-chip.mat-standard-chip {
    background-color: #ffffff;
    color: rgba(0,0,0,.87);
    border-radius: 20px;
    padding: 0px 0px;
    display: inline-block;
    margin-right: 5px;
    padding-left: 10px;
}
.removechip{
    cursor: pointer;
}
.arrayelem{
    width: 84%;
    margin-bottom: 10px;
    display: inline;
    margin-right: 18px;
}
.countrymeasur{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin: auto;
}
.jumbotron{
    border-radius: 0px;
    margin-bottom: 0px;
}

.disableAddr{
    margin-left: 10px;
}
#selected{
    width: 90%;
    border-radius: 4px;
    height: 38px;
    border: 1px solid rgb(212, 212, 212);
    padding-left: 6px;
}
#assetBtn{
    margin-top: 30px;
    margin-left: 1%;
    margin-right: 0px !important;
    margin-bottom: 0px;;
}
                     