<h2>
  Add Employee
</h2>
<form [formGroup]="contactForm" class="example-form" (ngSubmit)="addContact()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="name" formControlName="name" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="phone" placeholder="phoneNo" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="email" placeholder="email" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a date"
      formControlName="dateCreated"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="button">
    Submit Form
  </button>
</form>
